/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/ HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
 
html{
   font-family: 'Monaco', serif;
   max-width: 1200px;
   background-color: #F0F0F0;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------MOBILE STYLES-------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
   /* Navigation */
  
   a {
       text-decoration: none;
       color:white;
   }
   #logo{
       max-width: 100px;
   }
   #title{
       font-size: 18px;
       padding-top: 10px;
   }
 
   ul li {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .nav-link:hover {
       color: #222;
   }
 
   .nav-item {
       font-size: 20px;
       padding: 10px;
   }
   .nav-container {
       width: 100vw;
       background-color: #ADC9BE;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: auto;
   }
 
  
  /*-------------------------------------------------------Home Page-----------------------------------------------------*/
 
 
   /* Box 1 */
 
   #box1h2 {
       color: #ADC9BE;
       padding-top: 30px;
   }
   #donuts {
       max-width: 100%;
       padding: 0px;
       position:relative;
   }
 
   #selection {
       max-width: 100%;
       padding: 0px;
       position:relative;
   }
 
   #box1p {
       color: gray;
   }
  
  .box1 {
       background-color: white;
       width: 100vw;
       margin-top: 50px;
       padding: 5px;
}
      /* Box 2 */
 
   #box2h2 {
       color: white;
       }
   #process {
       max-width: 100%;
       padding: 0px;
   }
 
   #box2p {
       color: white;
   }
   #aboutbutton {
       border: none;
       background: #958D86;
       color: white;
       font-size: 20px;
       font-family: 'Monaco', serif;
       border-radius: 15px;
 
   }
   #aboutbutton:hover {
    transform:scale(120%);
    transition: 0.8s
   }
  
  .box2 {
   background-color: #ADC9BE;
   width: 100vw;
   padding: 10px;
    }
 
       /* Box 3 */ 
 
   #box3h2 {
       color: #ADC9BE;
       }
 
   #baker2 {
       max-width: 100%;
       padding: 0px;
   }
 
   #box3p {
       color: white;
   }
 
   #contactbutton {
       border: none;
       background: #ADC9BE;
       color: white;
       font-size: 20px;  
       font-family: 'Monaco', serif;
       border-radius: 15px;
   }

   #contactbutton:hover {
    transform:scale(120%);
    transition: 0.8s
   }
  
  .box3 {
   background-color: #958D86;
   width: 100vw;
   padding: 10px;
  }
 
 /*-------------------------------------------------------About Page-----------------------------------------------------*/
 
   /*Box 4*/
   .aboutpage {
       color: #958D86;
       margin: 50px;
       font-size: 30px;
   }
   #box4h2 {
       color: #ADC9BE;
   }
   #baker2 {
       max-width: 100%;
       padding: 0px;
   }
 
   #box4p {
       color: white;
   }
 
  .box4 {
   background-color: #958D86;
   width: 100vw;
}
  
  .box4item {
      padding: 25px;
  }
 
   /*Box 5*/
   #box5h2 {
       color: white;
       padding-top: 30px;
   }
   #baker2 {
       max-width: 100%;
       padding: 0px;
   }
 
   #box5p {
       color: white;
   }
 
  .box5 {
   background-color: #ADC9BE;
   width: 100vw;
   }
 
  .box5item {
      padding: 25px;
  }
/*-------------------------------------------------------Contact Page-----------------------------------------------------*/
  .contact-us{
   width: 85%;
   padding: 10px;
}
.contact-us-text{
   padding-top: 50px;
   padding-left: 9px;
   color: #958D86;
}
.message-padding{
   padding-bottom: 10px;
}
.text-padding{
   padding-bottom: 5px;
}
.name {
   font-size: 18px;
   color: #958D86;
}
.email {
   font-size: 18px;
   color:#958D86;
}
.message {
   font-size: 18px;
   color:#958D86;
}
.send-button {
   font-size: 18px;
   border-radius: 15px;
   font-family: 'Monaco', serif;
}
label{
   font-size: 13px;
}
input[type=text]{
   width: 113%;
   height: 30px;
   border-radius: 3px;
   border-color: #958D86;
}
input[type=email]{
   width: 113%;
   height: 30px;
   border-radius: 3px;
   border-color: #958D86;
}
.message-box{
   width: 113%;
   resize: none;
   height: 150px;
   border-radius: 3px;
   border-color: #958D86;
}
 
.send-button{
   border: none;
   background: #958D86;
   color: white;
   font-size: 20px;
}
.button-padding{
   padding-top: 5px;
   margin: 25px;
}
.hours-operation{
   padding-top: 4px;
   width: 90%;
}
th{
   background-color: #ffe6ac;
}
table{
   border-collapse: collapse;
   width: 126%;
}
td, th{
   border: 1px solid black;
   padding: 15px;
   font-size: 13px;
}
.contact-us-h3{
   padding-top: 4px;
}
  footer {
   width: 100vw;
   background-color: #ADC9BE;
   color: white;
   padding-top: 25px;
   padding-bottom: 25px;
   align-items: center;
   justify-content: center;
  }
 
 
 /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------DESKTOP STYLES-------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
 
@media screen and (min-width: 760px){
   /* Navigation */
  
   a {
       text-decoration: none;
       color:white;
   }
   #logo{
       max-width: 100px;
       padding-right: 200px;
   }
   #title{
       font-size: 48px;
   }
 
   ul li {
       display: inline;
       flex-direction: row;
       align-items: center;
   }
   .nav-link:hover {
       color: #222;
   }
 
   .nav-item {
       font-size: 36px;
       padding-left: 20px;
       padding-right: 20px;
   }
   .nav-container {
       width: 100vw;
       background-color: #ADC9BE;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       margin: auto;
   }
 
   .nav-bar {
       background-color: #ADC9BE;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
  /*-------------------------------------------------------Home Page-----------------------------------------------------*/
 
   /* Box 1 */
 
   #box1h2 {
       color: #ADC9BE;
       padding-top: 30px;
   }
   #donuts {
       max-width: 320px;
       padding: 0px;
   }
 
   #selection {
       padding: 0px;
   }
 
   #box1p {
       color: gray;
   }
  
  .box1 {
       background-color: white;
       width: 100vw;
       margin-top: 50px;
       display: grid;
       grid-template-columns: 0.5fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-areas:
           "one two four four four"
           "one three four four four"
           "one three four four four";
   }
   .box1 .box1item:nth-child(1){
       grid-area: one;
   }
   .box1 .box1item:nth-child(2){
       grid-area: two;
   }
   .box1 .box1item:nth-child(3){
       grid-area: three;
   }
   .box1 .box1item:nth-child(4){
       grid-area: four;
   }
  .box1item {
      padding: 25px;
  }
 
      /* Box 2 */
 
   #box2h2 {
       color: white;
       padding-top: 30px;
   }
   #process {
       padding: 0px;
       max-width: 320px;
   }
 
   #box2p {
       color: white;
   }
   #aboutbutton {
           border: none;
           background: #958D86;
           color: white;
           font-size: 20px;
           font-family: 'Monaco', serif;
           border-radius: 15px;
  
       }
  
  .box2 {
   max-height: 480px;
   background-color: #ADC9BE;
   width: 100vw;
   margin-top: 50px;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas:
       "one one one one four"
       "two two two two four"
       "three three three three four";
  }
  
 
   .box2 .box2item:nth-child(1){
       grid-area: one;
   }
   .box2 .box2item:nth-child(2){
       grid-area: two;
   }
   .box2 .box2item:nth-child(3){
       grid-area: three;
   }
   .box2 .box2item:nth-child(4){
       grid-area: four;
   }
  .box2item {
      padding: 25px;
  }
 
 
       /* Box 3 */ 
 
   #box3h2 {
       color: #ADC9BE;
       padding-top: 30px;
   }
   #baker2 {
       height: 480px;
       padding: 0px;
   }
 
   #box3p {
       color: white;
       justify-self: auto ;
   }
 
   #contactbutton {
       border: none;
           background: #ADC9BE;
           color: white;
           font-size: 20px;
           font-family: 'Monaco', serif;
           border-radius: 15px;
   }
  
  .box3 {
   max-height: 480px;
   background-color: #958D86;
   border-color: #707070;
   border-width: 3px;
   width: 100vw;
   margin-top: 50px;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas:
       "four one one one one "
       "four two two two two"
       "four three three three three";
  }
   .box3 .box3item:nth-child(1){
       grid-area: one;
   }
   .box3 .box3item:nth-child(2){
       grid-area: two;
   }
   .box3 .box3item:nth-child(3){
       grid-area: three;
   }
   .box3 .box3item:nth-child(4){
       grid-area: four;
   }
  
  .box3item {
      padding: 25px;
  }
 /*-------------------------------------------------------About Page-----------------------------------------------------*/
 
   /*Box 4*/
   .aboutpage {
       color: #958D86;
       margin: 50px;
       font-size: 30px;
   }
   #box4h2 {
       color: #ADC9BE;
       padding-top: 30px;
   }
   #baker2 {
       max-width: 300px;
       padding: 0px;
   }
 
   #box4p {
       color: white;
   }
 
  .box4 {
   background-color: #958D86;
   width: 100vw;
   margin-top: 50px;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas:
       "three one one one one"
       "three two two two two"
       "three two two two two";
  }
  
 
   .box4 .box4item:nth-child(1){
       grid-area: one;
   }
   .box4 .box4item:nth-child(2){
       grid-area: two;
   }
   .box4 .box4item:nth-child(3){
       grid-area: three;
   }
   .box4 .box4item:nth-child(4){
       grid-area: four;
   }
  .box4item {
      padding: 25px;
  }
 
   /*Box 5*/
   #box5h2 {
       color: white;
       padding-top: 30px;
   }
   #baker2 {
       max-width: 300px;
       padding: 0px;
   }
 
   #box5p {
       color: white;
   }
 
  .box5 {
   background-color: #ADC9BE;
   width: 100vw;
   margin-top: 50px;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas:
       "one one one one three"
       "two two two two three"
       "two two two two three";
  }
  
 
   .box5 .box5item:nth-child(1){
       grid-area: one;
   }
   .box5 .box5item:nth-child(2){
       grid-area: two;
   }
   .box5 .box5item:nth-child(3){
       grid-area: three;
   }
   .box5 .box5item:nth-child(4){
       grid-area: four;
   }
  .box5item {
      padding: 25px;
  }
/*-------------------------------------------------------Contact Page-----------------------------------------------------*/
  .contact-us{
   width: 85%;
   padding: 10px;
}
.contact-us-text{
   padding-top: 50px;
   padding-left: 9px;
   color: #958D86;
}
.message-padding{
   padding-bottom: 10px;
}
.text-padding{
   padding-bottom: 5px;
}
.name {
   font-size: 18px;
   color: #958D86;
}
.email {
   font-size: 18px;
   color:#958D86;
}
.message {
   font-size: 18px;
   color:#958D86;
}
.send-button {
   font-size: 18px;
}
label{
   font-size: 13px;
}
input[type=text]{
   width: 113%;
   height: 30px;
   border-radius: 3px;
   border-color: #958D86;
}
input[type=email]{
   width: 113%;
   height: 30px;
   border-radius: 3px;
   border-color: #958D86;
}
.message-box{
   width: 113%;
   resize: none;
   height: 150px;
   border-radius: 3px;
   border-color: #958D86;
}
.send-button{
   border: none;
   background: #958D86;
   color: white;
   font-size: 20px;
}
.button-padding{
   padding-top: 5px;
   margin: 25px;
}
.hours-operation{
   padding-top: 4px;
   width: 90%;
}
th{
   background-color: #ffe6ac;
}
table{
   border-collapse: collapse;
   width: 126%;
}
td, th{
   border: 1px solid black;
   padding: 15px;
   font-size: 13px;
}
.contact-us-h3{
   padding-top: 4px;
}
  footer {
   width: 100vw;
   background-color: #ADC9BE;
   color: white;
   padding-top: 25px;
   padding-bottom: 25px;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
  }
}
